---
import '../styles/global.scss';
---

<footer>
	<a target="_blank" href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" style="display: flex;align-items: center;">本网站由 <img style="height: 30px;" src="/logo.png" alt="" srcset=""> 提供 CDN 加速服务</a>
	<div class="footer_links">
		<a target="_blank" href="https://beian.miit.gov.cn/">苏ICP备2021045936号-4</a>
	</div>
</footer>
