---
import '../styles/global.scss'
import { SiteTitle } from '../consts'
---

<header>
  <nav>
    <h2 id="site_title">
      <a href="/">
        <img
          class="avatar"
          src="/apple-touch-icon.png"
        />
        {SiteTitle}
      </a>
    </h2>
    <div class="links">
      <a href="mailto:dacong@ll1025.cn">联系我</a>
    </div>
  </nav>
</header>

<style>
  .avatar {
    height: 24px;
    width: 24px;
  }
  .links a {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
  }
</style>
